<% title params[:id].present? ? @answer.filtered_reason : "You Deserve An Answer!" %>


<div class="hero-unit">
			<div class="fb-like" data-href="http://whydidthechicken.com/<%= @answer.permalink %>" data-send="false" data-layout="box_count" data-width="60" data-show-faces="false"></div>
 	<h1><%= @answer.filtered_reason %></h1>
  <p class="pull-right"><%= link_to "@#{@answer.screen_name}", "https://twitter.com/#{@answer.screen_name}/status/#{@answer.tweet_id}" %></p>
</div>

<div class="hero-unit" id="why">
	<%= form_tag '' do %>
	  <%= text_field_tag :tweet_field, '', placeholder: 'Adorable baby chicken demands you decide: why did she cross the road?' %>
	  <div class="btn-group">
	    <%= submit_tag 'Tweet', class: 'btn btn-large' %>
	  </div>
	<% end %>
</div>

<div class="modal hide" id="thanks">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>You just enriched the interwebs!<br>Doesn't it feel warm and cozy?</h3>
  </div>
  <div class="modal-body">
    <p>While we publish your answer, share this awesomeness with your friends!<br>
	<div id="small-chicken">
		<%= image_tag 'chick.jpg' %>
<div class="fb-like" data-href="http://whydidthechicken.com" data-send="false" data-layout="box_count" data-width="70" data-show-faces="false"></div></div><br>
	
		<strong>Did you know?</strong> for every friend that finds out about this, a fuzzy baby chicken avoids being turned into a nugget!
	</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
  </div>
</div>