<!DOCTYPE html>
<html>
<head>
  <%= display_meta_tags :site => 'Why Did The Chicken Cross The Road?' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<script src="http://platform.twitter.com/anywhere.js?id=umBc1ZBF23GPqG2q1IlDQ&v=1" type="text/javascript"></script>
  <%= csrf_meta_tags %>
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
</head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=284498108324959";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	
<div class="container">
	
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="brand pull-left" href="/">Why Did The Chicken Cross The Road? <i class='icon-refresh icon-white'></i></a>
				<div class='pull-right' id="shares">
					<div id="pinit"><a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwhydidthechicken.com&media=http%3A%2F%2Fwhydidthechicken.com%2Fposter.jpg&description=Small%20Baby%20Chicken%20Demands%20You%20Tell%20Her%20Why%20She%20Crossed%20The%20Road!%20She%20deserves%20an%20explanation." class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a></div>
					
					<a href="https://twitter.com/share" class="twitter-share-button" data-size="small" data-related="whydidthechickn" data-count="none">Tweet</a>
					<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
					
<div class="fb-like" data-href="http://whydidthechicken.com" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false"></div>
				</div>
	    </div>
	  </div>
	</div>
	
	<%= yield %>
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33729148-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
</body>
</html>